body {
    background-color:#e2e8f3;
    font-family: monospace;
    line-height: 35px;
    font-size: 18px
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 3em;
    padding: 0px 0px;
    margin: 5px 1px 1px 1px; 
}

h2 {
    color: #00587A;
    font-size: 1,5em;
}

p {
    font-weight: 400;
    text-align: justify;
    line-height: 1,5;
}

a {
    line-height: 1,5em;
}

.title {
    background-color: #009DDC;
    border: 3px solid #5c80bc;
    border-radius: 20px;
    margin: auto;
    padding: 1px;
    width: 70%;
    max-width: 500px;
    overflow: hidden;

}

.index {
    text-align: left;
    list-style-position: inside;
    float:left;
}

.descricao {
    margin-top: 16%;
    margin-right: 2%;
    max-width: 1000px;
    clear: both;

}

.habilidades {
    float: auto;
    clear: both;
    margin-top: 100px;
    max-width: 50%;
    width: 50%;
}

#fotoVin {
    margin-right: 25px;
    border-radius: 20px;
    border:2px solid black;
    padding: 0;
    height: 360px;
    width: 200px;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    float: left;
}

#legenda {
    font-size: 16px;
    line-height: 26px;
    margin: 10;
    margin-top: auto;
    padding: 10px;
    border: 10px;
    text-align: center;
}

#bD {
    text-align: center;
}


